[user]
	name = Timmy Stephani - Mac Laptop
	email = emailhere@gmail.com
[color]
 branch = auto
 diff = auto
 status = auto
[color "branch"]
 current = yellow reverse
 local = yellow
 remote = green
[color "diff"]
 meta = yellow bold
 frag = magenta bold
 old = red
 new = cyan
[color "status"]
 added = yellow
 changed = green
 untracked = cyan
 [format]
    pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
# Copy git-completion.bash to home directory
#cp usr/local/git/contrib/completion/git-completion.bash ~/

# Add the following lines to ~/.bashrc
#if [ -x /usr/local/git/bin/git ]; then
#    source ~/.git-completion.bash
#fi
